<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gratitude Wall</title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
  </head>
  <body>
    <div class="background"></div>

    <div class="container">
      <div style="p-5 mb-4 rounded-3">
        <div class="container-fluid py-5">
          <div>
            <img src="../static/logo.png" alt="logo" width="80" height="80" class="d-inline-block align-top">
            <h1 class="display-2 fw-bold d-inline-block align-middle vollkorn">Amity 46 Gratitude Wall</h1>
          </div>
          <p class="col-md-9 fs-4">
            Building an attitude of gratitude goes a long way in making a conscious habit to express appreciation. This Wall is an attempt to capture all the positivity around us digitally and enhance it further with a commitment towards humility.
          </p>
          <button class="btn btn-light btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#formModal">Write yours</button>
        </div>
      </div>

      <div class="row" data-masonry='{"percentPosition": true }'>
        <% wall.forEach(function(gratitude) { %>
          <div class="col-md-3 mb-4">
            <div class="card p-3" style="background-color: <%= gratitude[0] %>; color: #fff; border: none;">
              <figure class="p-3 mb-0">
                <blockquote class="blockquote">
                  <p style="font-size: 1.3rem;">“<%- gratitude[2] %>”</p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0" style="text-transform: capitalize; color: #ddd; font-size: 1.1rem;">
                  <%- gratitude[3] %>, <%- gratitude[1] %>
                </figcaption>
              </figure>
            </div>
          </div>
          <% }); %>
      </div>

      <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title">Write a gratitude</h2>
              </div>
              <div class="modal-body">
                <form action="/" method="POST">
                  <div class="mb-3">
                    <label for="name" class="form-label">Your name</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="John Doe"
                      autofocus
                    />
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Your email</label>
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      id="email"
                      placeholder="john.doe@email.com"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="association" class="form-label">Your association with school</label>
                    <select class="form-select" name="association" id="association">
                      <option selected>Select</option>
                      <option value="student">Student</option>
                      <option value="teacher">Teacher</option>
                      <option value="alumni">Alumni</option>
                      <option value="parent">Parent</option>
                      <option value="guest (feedback)">Guest</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="message" class="form-label"
                      >Your gratitude message</label
                    >
                    <textarea
                      class="form-control"
                      name="message"
                      id="message-input"
                      rows="3"
                      placeholder="Type your message here..."
                      cols="10"
                    ></textarea>
                  </div>
                  <button type="submit" class="btn" style="background: #0066b2; border: #0066b2; color: #fff;">Submit</input>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
